@font-face {
  font-family: "Roboto-Mono";
  src: url("../font/RobotoMono-Regular.ttf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../img/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto-Mono";
  color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: black;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.titulo {
  font-size: 60px;
}

.sub-titulo {
  font-size: 35px;
}

.parrafo {
  font-size: 25px;
}

.c-rosa {
  color: #FF00FF;
}

.c-azul {
  color: #00F0FF;
}

.c-amarillo {
  color: #FFE600;
}

.c-angular {
  color: #FF7D7D;
}

.navbar {
  height: 50px;
}

.navbar .list {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.navbar .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0px 10px;
}

.navbar .list .item .item-text {
  display: none;
}

.navbar .list .item .item-icon {
  height: 24px;
  fill: #FF00FF;
}

@media (min-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .navbar .list {
    padding: none;
    background-color: transparent;
    border-radius: none;
  }
  .navbar .list .item {
    margin: 0px 5px;
    padding: 5px;
  }
  .navbar .list .item .item-text {
    display: block;
  }
  .navbar .list .item .item-icon {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */