 //COLOR LOGOS SVG
 .c-html{
  fill: $color-html;
}
.c-css{
  fill: $color-css ;
}
.c-js{
  fill: $color-js ;
}
.c-sass{
  fill: $color-sass;
}
.c-boot{
  fill: $color-boot;
}
.c-git{
  fill: $color-git ;
}
.c-github{
  fill: $color-github;
}
.c-fire{
  fill: $color-fire ;
}
.c-angu{
  fill: $color-angular;
}
.c-fig{
  fill: $color-fig ;
}

.c-node{
  fill: $color-node ;
}
.c-react{
  fill: $color-react;
}
.c-redux{
  fill: $color-redux;
}
.c-vue{
  fill: $color-vue;
}
.icon{
  margin: 5px;
  padding: 2px;
  text-align: center;
  border-bottom: none;
  transition: .5s;
  &:hover{
      color: $color-segundo;
      border-top: solid 1px $color-segundo;
      svg{
          fill: $color-segundo;
      }
  }
}