.social-nav {
  height: 50px;
  // width esta en _config/.row
  .list {
    width: 90%;
    @include displayFlexBox(flex, row, space-between, center, nowrap);
    .item-social {
      height: 20px;
      .item-social-icon {
        fill: $color-segundo;
        &:hover {
          transition: 0.5s;
          fill: $color-tercero;
        }
      }
    }
  }
}
