.social-nav{
    height: 50px;
    // width esta en _config/.row
    .list{
        width: 100%;
        border: solid 1px blue;
        @include displayFlexBox(flex, row, space-between, center, nowrap);
    }
}