$color-primero: #ffffff;
$color-segundo: #ff00ff;
$color-tercero: #00f0ff;
$color-cuarto: #ffe600;

$color-html: #e9622e;
$color-css: #3a97d0;
$color-js: #f7c52c;
$color-sass: #c06190;
$color-boot: #807eef;
$color-git: #eb4e30;
$color-github: #9a9a9a;
$color-fire: $color-js;
$color-angular: #f57061;
$color-fig: #19b6f6;

$color-node: #86be00;
$color-react: #5ed4f4;
$color-redux: #7760b6;
$color-vue: #55af79;

$titulo-size: 3.7em;
$sub-titulo-size: 2.5em;
$parrafo-size: 1.5em;
