@media (min-width: 768px) {
  body{
    font-size: 14px;
  }
  .container {
    @include displayFlexBox(flex, column, space-between, flex-start, nowrap);
  }
  .navbar {
    .list {
      padding: none;
      border-radius: none;
      .item {
        margin: 0px 5px;
        padding: 5px;
        &:hover{
          border-top: solid 1px $color-segundo;
          color: $color-segundo;
      }
        .item-text {
          display: block;
        }
        .item-icon {
          display: none;
        }
      }
    }
  }
  .principal {
    width: 100%;
    max-width: none;
    @include displayFlexBox(flex, row, center, center, nowrap);
    .secundario {
      width: 66%;
      @include displayFlexBox(flex, row-reverse, center, center, nowrap);
      .caja {
          width: 50%;
      }
    }
    .terciario {
        width: 33%;
    }
  }
  .contenido{
    padding: 8px;
    @include displayFlexBox(flex, column, center, flex-start, nowrap);
  }
  .iconos{
    @include displayFlexBox(flex, column, center, center, nowrap);
  }

  .skills-icons{
    width: 35px;
    height: 35px;
  }

}
